# Maven
target/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Spring
.springBeans
.sts4-cache
.apt_generated

# Environment
**/.env
**/application.properties

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
*.swp
*.orig

# Build
build/
out/
dist/